
.file{

   margin-left: 500px;
}

#image-container {
    margin-top: 20px;
  }

  #image-container img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    display: block;
    margin:  auto;
    
  }

  #label-container {
    margin-top: 20px;
    border: 1px solid #ffffff;
    padding: 10px;
    
  }

  .prediction {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .class-name {
    font-weight: bold;
  }

  .probability {
    color: #000000;
  }

 .mapBox {
    position: relative;
    width: 600px;
    height: 450px;
    background: rgb(255, 255, 255);
    margin-left: 380px;
    overflow: hidden;
    border-radius: 15px;
    
    
    
} 

@media (max-width: 1020px){

  .file{
    padding:30px;
    margin-left: 0px;
  }

  .mapBox {
    width: 90%;
    height: 45%;
    margin-left: 20px;
  }

}