
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center; 
}

.footer-content p {
    margin: 5px 0;
    text-align: center; 
}

.footer-content a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

.footer-content a:hover {
    text-decoration: underline;
}
