body {
    background-image: url("../img/7-71159_jungle-wallpaper-hd.jpg") ;
    background-size: 2500px;
    background-position: center;
    font-family: Arial, sans-serif;
    
}



div {
    text-align: center;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    padding-block: 0%;
    border-radius: 15px;
    box-shadow: 2px 2px 12px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}



h1 {
    text-align: center;
    font-size: 20px;
}

input {
    width: 85%;
    border-radius: 30px;
    padding: 15px;
    border: 2px solid rgb(255, 255, 255, .2);
    outline: none;
    background-color: rgb(255, 255, 255);
}



button {
    background-color: rgb(4, 90, 11);
    border: none;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    height: 40px;
    font-size: 20px;


}

.Entrar {
    background-color: rgb(4, 90, 11);
    border: none;
    padding: 8px;
    width: 100%;
    border-radius: 10px;
    color: white;
    height: 40px;
    font-size: 20px;


}

button:hover {
    background-color: rgb(4, 90, 11);
    cursor: pointer;
    transform: scale(1.05);
    transition: .2s;
}

p {
    text-align: center;
    font-size: 13px;
    color: white;

}

a {
    color: rgb(4, 90, 11);
    text-decoration: none;

}
