@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

:root{
    --fonte: "Poppins", sans-serif;
    --cor1: #24d140
}
* {
    font-family: var(--fonte);
    font-weight: 500;
}

.menu-desktop ul li > a{
    font-size: 1.4em;
    font-family: var(--fonte);
}


.container {
    display: flex;
    
    height: 30%;
    
}


.form {
    width: 28%;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.212);
    background-color: #d8d8d8;
    margin-left: 35%;
    border-radius: 40px;
   
}

.form-header {
    margin-bottom: 3rem;

}


.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #187427;
    margin: 0px ;
    position: absolute;
    border-radius: 10px;
}

input{
    width: 98%;
    border-radius: 10px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: white;
}

div i{
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    right: 44%;
    align-items: center;
    justify-content: center;
}