@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

:root {
    --fonte: "Poppins", sans-serif;
}

* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(24, 117, 65);
    border-radius: 10px;
}

.menu-desktop ul li>a {
    font-size: 1.4em;
    font-family: var(--fonte);
}

body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    overflow-x: hidden;
}

.flex {
    display: flex;
    margin-left: 50px;
}

.flex img {

    margin-top: -70px;
}

/* Estilo cabeçalho */

header {
    padding: 40px 10%;
    margin-top: -5px;
}

header>.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: rgba(134.01931017637253, 167.87500709295273, 90.93228980898857, 1);
    transform: scale(1.05);
}

.logo1 img {
    width: 90px;
   
}

.menu-desktop ul {
    gap: 30px;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #3af162;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.btn-contato button:hover {
    box-shadow: 8px 8px 8px rgb(154, 255, 129);
    transform: scale(1.05);
    transition: .2s;
}

div.button-perfil {
    display: flex;
    justify-content: center;
    gap: 1000px
}

@media  screen and (max-width: 1020px) {
    .cabecalho{
        margin-bottom: -50px;
    }
}


/* Estilo do topo do site */

section.topo-do-site {
    padding: 40px 4%;
}

.img-topo-site img {

    width: 400px;

    height: auto;
    display: block;
}


section.topo-do-site.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;

}

.txt-topo-site{
    margin-top: 50px;
}

.topo-do-site .txt-topo-site h1 {
    color: rgb(29, 44, 29);
    font-weight: 700;
    font-size: 42px;
    line-height: 40px;
  
}





.topo-do-site .txt-topo-site p {
    color: rgb(22, 83, 32);
    margin-top: 20px;
    margin-bottom: 20px;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 1.5s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

@media screen and (max-width: 1020px){
   
    .flex{
        flex-direction: column-reverse;
    }

    .img-topo-site img {
        width: 300px;
        margin-bottom: 50px;
    }

    .menu-desktop {
        display: none;
    }
}



/* Cards CSS */
.body-card {
    margin-top: 200px;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px;
    padding: 0 20px;

}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.418); */
    border-radius: 100%;
    background-color: rgb(236, 233, 233);
    position: relative;
    flex: 1 1 calc(33.333% - 40px);
    /* Ajusta a largura dos cards */
    box-sizing: border-box;
    max-width: 350px;
    max-height: 600px;
    padding: 50px;
}

.cards:hover {
    transform: scale(1.05);
    transition: .2s;
}



.card-item img {
    width: 45px;
    margin-top: -20px;
    margin-bottom: 60px;
}

.cards h1 {
    margin-bottom: 50px;
    margin-top: 80px;
    color: rgb(17, 54, 17);
    font-weight: 900;
    font-size: 70px;
    line-height: 40px;

}

.text-card {
    margin-top: -90px;
    font-weight: 2000;
    font-size: 30px;
    color: rgb(29, 44, 29);
}

/* Responsividade */
@media screen and (max-width: 768px) {

    .container-cards{
        width: 100%;
        margin-top: -100px;
        gap: 50px;
    }
    .cards {
        flex: 1 1 calc(100% - 40px);
        /* 2 cards por linha */
    }
}

@media (max-width: 480px) {
    .container-cards{
        width: 100%;
        margin-top: -200px;
        gap: 100px;
    }
    .cards {
        flex: 1 1 calc(100% - 40px);
        /* 1 card por linha */
        max-width: 300px;
        max-height: 300px;
        bottom: 25px;
    }
    .card-item img{
        width: 35px;
        margin-bottom: 15px;
        margin-bottom: 30px;
    }
    .text-card{
        bottom: 40px;
        font-size: 30px;
        padding: 5px;
    }
}


/* como funciona */

/* Atualizado CSS */
.function {
    background: linear-gradient(to bottom right, rgb(62, 231, 84), rgb(30, 150, 50));
    margin-top: 330px;
    padding: 300px;
}

.title-container {
    text-align: center;
 
    margin-top: -400px;
}

.title-function {
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    color: rgb(255, 255, 255);
}

.content-function {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1000px; /* Ajuste conforme necessário */
    margin: 0 auto;
    margin-top: -100px;
    gap: 100px;
    
}

.texto {
    font-size: 18px;
    color: rgb(255, 255, 255);
    max-width: 900px; /* Ajuste conforme necessário */
    text-align: justify;
  
}
@media screen and (max-width: 768px) {

    .content-function {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        margin: 0 auto;
        margin-top: -100px;
        gap: 100px;
       
    }
}




