section.slider{
    margin: -840px;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    margin-left: 0%;

    border-radius: 10px;
}

.slider-content{
    width: 80%;
    height: 470px;
    display: flex;
   
}

.slider-content input{
    display: none;
}

.slide-box{
    width: 1000%;
    height: 1000%;
    position: relative;
    text-align: center;
    transition: 1s;
    display: inline-block;
}

.slide-box img{
    display: flex;
    margin-left: -350px;
    vertical-align: middle;
}

.nav-manual{
    position: absolute;
    width: 100%;
    margin-top: 36%;
    margin-left: 0%;
    display: flex;
    
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 2px solid rgba(134.01931017637253, 167.87500709295273, 90.93228980898857, 1);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div{
    margin-right: 10px;

}

.nav-manual .manual-btn:hover {
    background-color:rgba(134.01931017637253, 167.87500709295273, 90.93228980898857, 1);
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3 {
 background-color:rgba(134.01931017637253, 167.87500709295273, 90.93228980898857, 1) ;
}

#radio1:checked ~ .primeiro{
   transform: translateX(0%);
}

#radio2:checked ~ .primeiro{
    transform: translateX(-25%);
}

#radio3:checked ~ .primeiro{
    transform: translateX(-50%);
}


.fim{
    background-color: darkgrey;
    width:100%;
	height:60%;
	position:absolute;
	
}