body{
	overflow-x: hidden;
}

.container {
    max-width: auto;
    display: flex;
    margin: -40px;
    align-items: center;
    justify-content: center;
    
}

.containerframe {
    max-width: auto;
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
	
    
}
.container2 {
    max-width: auto;
    display: flex;
    margin: -400px;
    align-items: center;
    justify-content: center;
    
    
}

.containerfim{
	max-width: auto;
    display: flex;
    margin-top: 1700px;
    align-items: center;
    justify-content: center;
    
}


header {
   
    flex: 1 1 100vw;
    height: 130px;
	
}

div.logo img {
    width: 250px;
    margin: 10px;
    padding-right: 1ch;



}

div.menu {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 600px;
    

}




.box { 
   
	width:1100px;
	height:420px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
	background-image:url("img/copiagamba.png");
	background-repeat:no-repeat;
	background-size:cover;
}



.e35_63 {
    position: absolute; 
    top: 50%; 
    left: 40%;
    transform: translate(-50%, -0%); 
    color: rgb(245, 228, 228);
    width: 500px;
    height: 92px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: 36px;
}


.frame_4_34_1151 { 
	background-color:rgba(134.01931017637253, 167.87500709295273, 90.93228980898857, 1);
	width:87%;
	height:70%;
	position:absolute;
border-radius: 18px;

}
.rectangle_6_48_7 { 
	background-color:rgba(255, 255, 255, 1);
	width:18%;
	height:67%;
	position:absolute;
	left:60px;
	top:90px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.rectangle_3_34_1155 { 
	background-color:rgba(255, 255, 255, 1);
	width:18%;
	height:67%;
	position:absolute;
	left:500px;
	top:90px;
	border-radius:40px;
}
.rectangle_4_34_1156 { 
	background-color:rgba(255, 255, 255, 1);
	width:18%;
	height:67%;
	position:absolute;
	left:910px;
	top:90px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.greugnurgevnrennevr_34_1168 { 
	color:rgba(0, 0, 0, 1);
	width:208px;
	height:88px;
	position:absolute;
	left:100px;
	top:321px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.greugnurgevnrennevr_34_1169 { 
	color:rgba(0, 0, 0, 1);
	width:208px;
	height:88px;
	position:absolute;
	left:555px;
	top:321px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.greugnurgevnrennevr_34_1170 { 
	color:rgba(0, 0, 0, 1);
	width:208px;
	height:88px;
	position:absolute;
	left:959px;
	top:321px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.ellipse_5_34_1180 { 
	border-radius:500px;
	background-color:rgba(190.18750101327896, 187.0177111029625, 187.0177111029625, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:115px;
	top:120px;
}
.ellipse_6_34_1181 { 
	border-radius:500px;
	background-color:rgba(190.18750101327896, 187.0177111029625, 187.0177111029625, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:555px;
	top:120px;
}
.ellipse_7_34_1182 { 
	border-radius:500px;
	background-color:rgba(190.18750101327896, 187.0177111029625, 187.0177111029625, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:965px;
	top:120px;
}

.___icon__people__34_1162 { 
	width:109px;
	height:87px;
	position:absolute;
	left:600px;
	top:120px;
}


.vector_34_1161 { 
	width:67px;
	height:68px;
	position:absolute;
	left:-55px;
	top:10px;
}

.vector_34_1165 { 
	
	width:67px;
	height:68px;
	position:absolute;
	left:-495px;
	top:10px;

}


.vector_34_1166 { 
	
	width:67%;
	height:68px;
	position:absolute;
	left:380px;
	top:10px;

}



a {
    text-decoration: none;
    text-decoration: underline green;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 20px 20px 20px;
}

main{
    flex: 1 1 100vw;
    height: calc(100vw - 244px);
}

h1{
	font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: left;
	margin-left: 200px;
	margin-top: 100px;
    color: rgb(0, 0, 0);
	
}