* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}



body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
}


.interface {
    max-width: 1150px;
    margin: 0 auto;
}

.flex {
    display: flex;
    margin-left: 50px;

}

.flex img {

    margin-top: -70px;
}

/* Estilo cabeçalho */

header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: rgba(134.01931017637253, 167.87500709295273, 90.93228980898857, 1);
    transform: scale(1.05);
}


header nav ul {
    list-style-type: none;

}

header nav li {
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(97, 202, 87);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.btn-contato button:hover {
    box-shadow: 8px 8px 8px rgb(154, 255, 129);
    transform: scale(1.05);
    transition: .2s;
}


/* Estilo do topo do site */

section.topo-do-site {
    padding: 40px 10%;
}

.img-topo-site img{
 width: 360px;
}

section.topo-do-site.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
    
}



.topo-do-site .txt-topo-site h1 {
    color: rgb(29, 44, 29);

    font-weight: 700;
    font-size: 42px;
    line-height: 40px;
}





.topo-do-site .txt-topo-site p {
    color: rgb(22, 83, 32);
    margin-top: 20px;
    margin-bottom: 20px;
}

 .topo-do-site .img-topo-site img{ 
    position: relative;
    animation: flutuar 1.5s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
} 
