<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teachable Machine Image Model</title>
  <link rel="stylesheet" href="../css/super.css">
  <link rel="stylesheet" href="../css/API.css">
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>
</head>


<body>
  <br>

  <input type="file" id="imagemSelecionada" accept="image/*" onchange="handleImageUpload(event)">

  <div id="image-container">
    <br>
    <img id="imagemPreview" src="#" alt="Imagem selecionada">
  </div>


  <div class="btn-contato">
    <br>
    <button type="button" onclick="analyze()">Analisar</button>
  </div>

  <div id="label-container"></div>
  <script type="text/javascript">
    const URL = "https://teachablemachine.withgoogle.com/models/4VJSfnPUq/";

    let model, labelContainer, maxPredictions;

    async function init() {
      try {
        const modelURL = URL + "model.json";
        const metadataURL = URL + "metadata.json";

        console.log("Carregando modelo...");
        model = await tmImage.load(modelURL, metadataURL);
        maxPredictions = model.getTotalClasses();
        console.log("Modelo carregado com sucesso:", model);

        labelContainer = document.getElementById("label-container");
        for (let i = 0; i < maxPredictions; i++) {
          labelContainer.appendChild(document.createElement("div"));
        }
      } catch (err) {
        console.error("Erro ao iniciar a aplicação:", err);
      }
    }

    function handleImageUpload(event) {
      const file = event.target.files[0];
      const reader = new FileReader();

      reader.onload = function (event) {
        const imagemPreview = document.getElementById("imagemPreview");
        imagemPreview.src = event.target.result;
        console.log("Imagem carregada e exibida");

        const labelContainer = document.getElementById("label-container");
        labelContainer.innerHTML = "";
      };

      reader.readAsDataURL(file);
    }

    async function analyze() {
      const imagemPreview = document.getElementById("imagemPreview");

      if (!imagemPreview.src || imagemPreview.src === "#") {
        alert("Por favor, carregue uma imagem primeiro.");
        return;
      }

      if (!model) {
        console.error("Modelo não carregado corretamente.");
        return;
      }

      console.log("Analisando imagem...");
      try {
        const prediction = await model.predict(imagemPreview);
        console.log(prediction);

        let maxProbability = -1;
        let maxClassIndex = -1;

        for (let i = 0; i < maxPredictions; i++) {
          if (prediction[i].probability > maxProbability) {
            maxProbability = prediction[i].probability;
            maxClassIndex = i;
          }
        }

        const labelContainer = document.getElementById("label-container");
        labelContainer.innerHTML = "";

        const className = prediction[maxClassIndex].className;
        const probability = (prediction[maxClassIndex].probability * 100).toFixed(2);

        const predictionElement = document.createElement("div");
        predictionElement.classList.add("prediction");

        const text = `<span class="class-name">${className}</span>: <span class="probability">${probability}%</span>`;

        predictionElement.innerHTML = text;

        labelContainer.appendChild(predictionElement);
      } catch (err) {
        console.error("Erro ao analisar a imagem:", err);
      }
    }

    window.onload = init;
  </script>

  <div class="mapBox">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d6353.567831308609!2d-44.03189117239693!3d-20.061889259724108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sparque%20do%20rola%20mo%C3%A7a!5e1!3m2!1spt-BR!2sbr!4v1727891138046!5m2!1spt-BR!2sbr"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <br>
</body>

</html>